html {
  background-color: rgb(3, 3, 73);
  height: 100%;
  font-family: sans-serif;
}
#container {
  height: 250px;
  width: 700px;
  background-color: orange;
  margin: 0 auto;
  margin-top: 100px;
  border: 2px solid yellowgreen;
  border-radius: 20px;

}
.label {
  display: flex;
  font-size: 30px;
 font-weight: bold;
 text-align: center;
 justify-content: center;
 color: rgb(2, 2, 92);
}
#break{
    padding-left: 150px;
    padding-right: 150px;
}

.btn {
  width: 100px;
  height: 30px;
  font-size: 20px;
}
.timer{
    display: inline-flex;
    font-size: 16px;
font-weight: bold;
}
#work-timer{
    padding-left: 85px;

}
#counter{
    padding-left: 220px;
}
#break-timer{
    padding-left: 220px;
}
#btn{
    text-align: center;
    justify-content: baseline;
    word-spacing: 140px;
    margin-top: 40px;

}
#btn button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
#btn button:hover{
    background-color:rgb(210, 241, 162);
}
#btn button:active{
    background-color:rgb(167, 247, 47);
}